/* =====================================================
   DATABASE: QuanLyThuVienDB
   SCRIPT CHUẨN TEAM PROJECT
   Leader: Software Dev Team 😎
===================================================== */

IF DB_ID('QuanLyThuVienDB') IS NULL
BEGIN
    CREATE DATABASE QuanLyThuVienDB;
END
GO

USE QuanLyThuVienDB;
GO

/* ================================
   AUTHORS
================================ */
CREATE TABLE Authors (
    AuthorID INT IDENTITY PRIMARY KEY,
    AuthorName NVARCHAR(150) NOT NULL
);
GO

/* ================================
   CATEGORIES
================================ */
CREATE TABLE Categories (
    CategoryID INT IDENTITY PRIMARY KEY,
    CategoryName NVARCHAR(150) NOT NULL,
    Description NVARCHAR(250)
);
GO

/* ================================
   READERS
================================ */
CREATE TABLE Readers (
    ReaderID INT IDENTITY PRIMARY KEY,
    FullName NVARCHAR(150),
    Phone NVARCHAR(20),
    Email NVARCHAR(150),
    Address NVARCHAR(250)
);
GO

/* ================================
   USERS
================================ */
CREATE TABLE Users (
    UserID INT IDENTITY PRIMARY KEY,
    Username NVARCHAR(100) NOT NULL UNIQUE,
    Password NVARCHAR(200) NOT NULL,
    FullName NVARCHAR(150),
    Role NVARCHAR(50),
    CreatedDate DATETIME DEFAULT GETDATE(),
    IsActive BIT DEFAULT 1
);
GO

/* ================================
   BOOKS
================================ */
CREATE TABLE Books (
    BookID INT IDENTITY PRIMARY KEY,
    Title NVARCHAR(200) NOT NULL,
    AuthorID INT,
    CategoryID INT,
    Quantity INT DEFAULT 0 CHECK (Quantity >= 0),
    YearPublished INT,
    CONSTRAINT FK_Books_Authors 
        FOREIGN KEY (AuthorID)
        REFERENCES Authors(AuthorID)
        ON DELETE SET NULL,
    CONSTRAINT FK_Books_Categories 
        FOREIGN KEY (CategoryID)
        REFERENCES Categories(CategoryID)
        ON DELETE SET NULL
);
GO

/* ================================
   BORROW TICKETS
================================ */
CREATE TABLE BorrowTickets (
    TicketID INT IDENTITY PRIMARY KEY,
    ReaderID INT,
    BookID INT,
    BorrowDate DATE,
    ReturnDate DATE,
    CONSTRAINT FK_BorrowTickets_Readers
        FOREIGN KEY (ReaderID)
        REFERENCES Readers(ReaderID)
        ON DELETE CASCADE,
    CONSTRAINT FK_BorrowTickets_Books
        FOREIGN KEY (BookID)
        REFERENCES Books(BookID)
        ON DELETE CASCADE
);
GO
